[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.1.2"
Flask-Cors = "==3.0.9"
requests = "*"

[dev-packages]
pytest = "*"
pycodestyle = "*"
autopep8 = "*"
expects = "*"

[requires]
python_version = "3.8"
